html {
font-size: 14px;
@include tablets {
       font-size: 13px;
   }
@include phones {
       font-size: 12px;
   }
}
html, body  {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    font-size: rem(16px);
}
* ul {
    list-style-type: none;
    
}
* a {
    text-decoration: none;
}
.wrapper {
    
    
    overflow: hidden;

}
.header {
   width: 100%;
}
.container {
    display: flex;
    max-width: rem(940px);
    height: 100%;
    padding: 0 2%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}