.section {
    background: url(img/front_one.jpg) center center / cover no-repeat;
    width: 100%;
    height: 100vh;
}
.start__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: rem(10px);
}
.nav {
    display: flex;
    align-items: center;
    
.menu__list {
    display: flex;
    padding: rem(0px);
    margin: rem(0px);
    align-items: center;
    @include tablets {
        display: none;
    }
}
}
.menu__point {
    color: #fff;
  display: flex;
  align-items: center;
    &:after {
        content: "";
        display: block;
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        background-color: #fff;
        margin:0 rem(5px); 
    }
}
.menu__point {
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  .menu__order {
    display: block;
    margin-left: rem(15px);
    background-color: #e45028;
    border-radius: rem(5px);
    width: rem(100px);
    height: rem(30px);
    text-align: center;
    padding-top: rem(12px);
    &:hover {
        background-color: #c1401e;
        transition: 0.3s;
    }
}
.menu__text, .menu__order {
    display:block;
    text-transform: uppercase;
    color:white; 
    font-family: 'Ubuntu';
	font-weight: 500;
    font-style: normal;
    font-size: rem(14px);
}
.btn_nav_mobile {
    display: block;
    width: rem(25px);
    height: rem(25px);
    margin-left: rem(10px);
    display: none;
    @include tablets {
        display: initial;
    }
}
.button_mobile {
    width: rem(25px);
    height: rem(25px);
    
}
.button_mobile_line {
    
    display:block;
    background-color: #fff;
    height: rem(3px);
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: rem(7px);
    margin-top: rem(5px);
}
.burger_block {
    display: flex;
    height: 70%;
    
    justify-content: center;
    align-items: center;
    margin-top:0;
    @include tablets {
        flex-direction: column;
        align-items: center;
        margin: 0;
        flex: initial;
    }
}
.burger_block_text {
    margin-left: rem(0px);
    padding-top: rem(130px);
    @include tablets {
        padding-top: rem(45px);
    }
}
.arrow_block {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: rem(100px);
}
.arrow_block_img {
    width: rem(30px);
    height: rem(15px);
}
.arrow_svg {
    width: rem(30px);
    height: rem(15px);
    fill: #fff;
}
.burger_block_caption {
    font-family: 'Gagalin-Regular';
    font-weight: normal;
    font-style: normal;
    color:#f9b43b;
    font-size: rem(72px);
}
.burger_block_caption_text {
    font-family: 'Lifehack-Medium';
	font-weight: normal;
    font-style: normal;
    color:#fff;
    font-size: rem(65px);
}